body {
    background-color: #ffa500;
    color:#cb410b;
	font-size: 27px;
}

a {
    color: #cb410b;
}


h1 {
    color: #800000;

}
h3 {
    color: #800000;

}

nav a {
    padding: 16px 32px;
    background:#def3fb;
    color:  #cb410b;
    text-decoration: none;
    border-radius: 6px;
}
nav a:hover {
    background: steelblue;
}
nav a:active {
    background: steelblue;
}

.intro {
    color: #800000;

	text-align:center;
}

header {
    background: #ffa500;
    color: #800000;
	margin: 10px 0px 100px 0px ;
	border: solid #800000 20px ;

    padding: 20px;
    margin: 20px;
}

main {
    padding: 25px ;
	padding: 120px;
    border: solid 5px #800000;
    margin: 0 auto;
	width: 800px;
}

footer {

	text-align: center;
}
